.carousel-inner{
    background-color: white;
    height: 80vh;
    /* padding-left: 50px;
    padding-right: 50px; */
}

.carousel-inner > img{
    height: 100% !important;
    width:  100% !important;
    border: 1px solid white;
}
@media screen and (max-width: 960px) {
    .carousel-inner{
        /* padding-left: 50px;
        padding-right: 50px; */
    }
}